<!--SUMAU顧客の登録情報編集画面-->
<div class="container">
  <div class="row">
    <div class="col-auto px-4 ml-5 my-4">
      <div class="row">
        <h2 class="px-3">会員情報編集</h2>
      </div>
    </div>
  </div>
  <% if current_customer.address == "guestuser.address1234567890" %>
  <% else %>
    <%= form_with model: @customer, url: public_update_path, method: :patch do |f| %>
      <table cellpadding="10">
        <th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </th>
        <tr>
          <td>名前</td>
          <td>(姓)</td>
          <td><%= f.text_field :last_name, placeholder: "山田" %></td>
          <td>(名)</td>
          <td><%= f.text_field :first_name, placeholder: "花子"%></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td>(セイ)</td>
          <td><%= f.text_field :last_name_kana, placeholder: "ヤマダ" %></td>
          <td>(メイ)</td>
          <td><%= f.text_field :first_name_kana, placeholder: "ハナコ" %></td>
        </tr>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td></td>
          <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>住所</td>
          <td></td>
          <td colspan="3"><%= f.text_field :address, placeholder: "東京都中央区新富0-0",  :size => "52" %></td>
        </tr>
        <tr>
          <td>電話番号(ハイフンなし)</td>
          <td></td>
          <td><%= f.text_field :telephone_number, placeholder: "00000000" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td></td>
          <td><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class = "col-3 py-1"><%= f.submit "編集内容を保存", class: "btn btn-success btn-block" %></td>
          <td class = "col-2 py-2"><%= link_to "退会する", public_unsubscribe_path, class: "btn btn-danger btn-block" %></td>
          <td></td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>

