<!--会員側 物件情報編集画面-->

<div class="container">
  <div class = "d-flex flex-row bd-highlight mb-3 ml-5 mt-5">
    <div class="p-2 bd-highlight">
      <div class= "row">
        <h2 class="px-3">物件情報編集</h2>
      </div>
    </div>
  </div>
  <!--エラーメッセージの部分テンプレート-->
  <%= render "public/shared/error_messages", obj: @property %>
  <%= form_with model: @property, url: public_property_path(@property.id), method: :patch, local:true do |f| %>
    <table>
      <!--部分テンプレートの中"f."が使えるように、使いたい変数ｆを受け渡す。-->
      <%= render 'info', {f: f, property: @property} %>
      <tr>
        <div class="form-action">
          <td><%= f.submit "保存する", class:"btn btn-success" %></td>
          <td width="100"><%= link_to "削除する", public_property_path(@property), method: :delete, class: 'btn btn-danger', data: { confirm: "物件情報のデータが消えますがよろしいですか？" } %></td>
        </div>
      </tr>
    </table>
  <% end %>
</div>
