<!--会員側 物件詳細画面-->
<p id="notice"></p>
<div class="container">
  <div class="row ml-3 mb-3">
    <h2 class="px-3">物件詳細</h2>
  </div>
  <div class="row">
    <div class="mx-auto">
    <!--ブックマークボタン部分テンプレート呼び出し-->
    <h2 class="px-3"><%= @property.location %><%= render 'public/favorites/favorite-btn', property: @property %></h2>
      <%= image_tag @property.get_image(400,400) %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <table class="table table-bordered">
        <tr>
          <td width="100">物件種別</td>
          <td><%= @property.property_type.name %></td>
        </tr>

        <tr height="20">
          <td>価格</td>
          <td><%= @property.price.to_s(:delimited) %>万円</td>
        </tr>

        <tr height="20">
          <td>所在地</td>
          <td><%= @property.location %></td>
        </tr>

        <tr height="20">
          <td>間取り</td>
          <td><%=@property.floor_plan.name %></td>
        </tr>

        <tr height="20">
          <td>販売状況</td>
          <% if @property.sales_status == 'on_sale' %>
            <td class="text-success"><b><%= @property.sales_status_i18n %></b></td>
          <% elsif @property.sales_status == 'stop_selling' %>
            <td class="text-danger"><b><%= @property.sales_status_i18n %></b></td>
          <% elsif @property.sales_status =='with_application' %>
            <td class="text-secondary"><b><%= @property.sales_status_i18n %></b></td>
          <% else %>
            <td class="text-secondary"><b><%= @property.sales_status_i18n %></b></td>
          <% end %>
        </tr>

        <!--<tr height="20">-->
        <!--  <td>-->
        <!--    ブックマーク<br>-->
        <!--    (ブックマークへの追加・削除ができます)-->
        <!--  </td>-->
          <!--<td><%#= render 'public/favorites/favorite-btn', property: @property %></td>-->
        <!--</tr>-->

        <tr>
          <td>評価</td>
          <!--星レビュー部分テンプレート呼び出し-->
          <%= render 'star', property: @property %>
        </tr>

        <tr height="20">
          <td>物件メモ</td>
          <!--< %= simple_format(@property.description) %>simple_formatで改行を反映させる-->
          <td><%= simple_format(@property.description) %></td>
        </tr>
      </table>
      <div class="text-center">
        <%= link_to "編集する", edit_public_property_path, class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>