<!--会員側 物件詳細画面-->
<p id="notice"></p>
<div class="container mt-5 mb-5">
  <div class="row ml-3 mb-3">
    <h2 class="px-3">物件詳細</h2>
  </div>
  <div class="row text-center text-xs-center text-sm-left text-md-left ">
    <div class="col-5">
      <%= image_tag @property.get_image(400,400) %>
    </div>
    <div class="col-7 item-details mx-auto">
      <table>
        <tr>
          <td width="100">物件種別</td>
          <td><%= @property.property_type.name %></td>
        </tr>

        <tr height="20">
          <td>価格</td>
          <td><%= @property.price.to_s(:delimited) %>万円</td>
        </tr>

        <tr height="20">
          <td>所在地</td>
          <td><%= @property.location %></td>
        </tr>

        <tr height="20">
          <td>間取り</td>
          <td><%=@property.floor_plan.name %></td>
        </tr>
        
        <tr height="20">
          <td>販売状況</td>
          <% if @property.is_active == true %>
            <td class="text-success"><b>販売中</b></td>
          <% else %>
            <td class="text-danger"><b>販売停止中</b></td>
          <% end %>
        </tr>
        
        <tr height="20">
          <td>物件メモ</td>
          <!--< %= simple_format(@property.description) %>simple_formatで改行を反映させる-->
          <td><%= @property.description %></td>
        </tr>

        <tr height="500">
          <td></td>
          <td><%= link_to "編集する", edit_public_property_path, class:"btn btn-success" %></td>
        </tr>
      <table>
    </div>
  </div>
</div>