<!--管理者側 間取り管理画面(一覧・追加を兼ねる)-->
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="row col-12 mb-3 pl-0">
        <h4 class="mb-0">間取り一覧・追加</h4>
      </div>
      <%= form_with model: @floor_plan, url: admin_floor_plans_path, method: :post do |f| %>
        <%= f.text_field :name, placeholder: "間取り名", class: "col-2 ml-5 mr-5" %>
        <%= f.submit "新規登録", class: "btn btn-success btn-md" %>
      <% end %>
      <div class="row pl-0">
        <table class="table table-hover col-4">
          <thead>
            <tr class="table-active">
              <th class="pl-5">間取り</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @floor_plans.each do |floor_plan| %>
              <tr>
                <td><%= floor_plan.name %></td>
                <td class="text-right"><%= link_to "編集する", edit_admin_floor_plan_path(floor_plan.id), class: "btn btn-success btn-sm py-2 mr-3" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>